.container {
    height: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 10fr;
}

.container > * {
    margin: 20px;
}

.tabs {
    grid-row: span 1;
    grid-column: span 2;
    margin: 20px;
}

.tab-right {
    float: right;
}

.half {
    grid-row: span 1;
    grid-column: span 1;
    height: 800px;
}

pre, textarea {
    color: blue;
    font-family: Consolas, monaco, monospace;
    font-size: 13px;
}

pre {
    white-space: pre-wrap;
    word-break: break-all;
    overflow-x: auto;
    overflow-y: auto;
}
