* {
    font-family: Consolas, monaco, monospace;
}

.container {
    height: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto 1fr;
}

.row {
    margin-left: 10px;
    margin-right: 10px;
    grid-row: span 1;
    grid-column: span 2;
}

.tab-right {
    float: right;
}

.half {
    margin: 10px;
    grid-row: span 1;
    grid-column: span 1;
}

pre, textarea {
    color: blue;
    font-size: 13px;
}

pre {
    white-space: pre-wrap;
    word-break: break-all;
    overflow-x: auto;
    overflow-y: auto;
}

button {
    border: none;
    padding-top: 3px;
    padding-bottom: 3px;
    background: lightskyblue;
    color: white;
    transition: 0.2s;
}

button:hover {
    background: cornflowerblue;
}

button:active {
    background: dodgerblue;
    color: white;
}
